---
layout: default
---

<div class="batches">
  {% for batch in site.posts %}
    <article class="batch">    
      
      <h1><a href="{{ site.baseurl }}{{ batch.url }}">{{ batch.title }}</a></h1>
      
      {% if batch.image or batch.image1 %}
      <a href="{{ site.baseurl }}{{ batch.url }}">
	    {% unless batch.image1 %}
        <img src="{{ site.baseurl }}/images/soap/{{ batch.image }}" alt="{{ batch.title }}" width="450" height="300" />
		{% endunless %} 
		{% unless batch.image %}
        <img src="{{ site.baseurl }}/images/soap/{{ batch.image1 }}" alt="{{ batch.title }}" width="450" height="300" />
		{% endunless %} 
      </a>
      <br />
      {% endif %}
      
      <div class="date">Created on {{ batch.date | date: "%B %e, %Y" }}</div>
      
      <a href="{{ site.baseurl }}{{ batch.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>