---
layout: default
---

<article class="batch">
  <h1>{{ page.title }}</h1>

  <div class="batch-details">
    <table>
        <tr><td>Batch Date</td><td>{{ page.date | date: "%B %e, %Y" }}</td></tr>
        <tr><td>Yield</td><td id="yield">Calculating...</td></tr>
        <tr><td>Superfat</td><td id="superfat">Calculating...</td></tr>
    </table>
  </div>

  <div class="entry">
    <h2>Primary Ingredients</h2>
    <table id="ingredients">
    <tr><td>Quantity</td><td>Percent</td><td>Ingredient</td></tr>
    {% if page.AcaiButter_ounces %}<tr><td>{{ page.AcaiButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Acai Butter</td></tr>{% endif %}
    {% if page.SweetAlmondButter_ounces %}<tr><td>{{ page.SweetAlmondButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Sweet Almond Butter</td></tr>{% endif %}
    {% if page.SweetAlmondOil_ounces %}<tr><td>{{ page.SweetAlmondOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Sweet Almond Oil</td></tr>{% endif %}
    {% if page.AloeExtract_ounces %}<tr><td>{{ page.AloeExtract_ounces }} ounces</td><td align="right">Calculating...</td><td>Aloe Extract</td></tr>{% endif %}
    {% if page.AloeVeraButter_ounces %}<tr><td>{{ page.AloeVeraButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Aloe Vera Butter</td></tr>{% endif %}
    {% if page.ApricotKernelOil_ounces %}<tr><td>{{ page.ApricotKernelOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Apricot Kernel Oil</td></tr>{% endif %}
    {% if page.ArganOil_ounces %}<tr><td>{{ page.ArganOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Argan Oil</td></tr>{% endif %}
    {% if page.AvocadoButter_ounces %}<tr><td>{{ page.AvocadoButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Avocado Butter</td></tr>{% endif %}
    {% if page.AvocadoOil_ounces %}<tr><td>{{ page.AvocadoOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Avocado Oil</td></tr>{% endif %}
    {% if page.BabassuOil_ounces %}<tr><td>{{ page.BabassuOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Babassu Oil</td></tr>{% endif %}
    {% if page.BlackCuminOil_ounces %}<tr><td>{{ page.BlackCuminOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Black Cumin Oil</td></tr>{% endif %}
    {% if page.BlackCurrantOil_ounces %}<tr><td>{{ page.BlackCurrantOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Black Currant Oil</td></tr>{% endif %}
    {% if page.BlackSeedOil_ounces %}<tr><td>{{ page.BlackSeedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Black Seed Oil</td></tr>{% endif %}
    {% if page.BlueberryButter_ounces %}<tr><td>{{ page.BlueberryButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Blueberry Butter</td></tr>{% endif %}
    {% if page.BorageOil_ounces %}<tr><td>{{ page.BorageOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Borage Oil</td></tr>{% endif %}
    {% if page.CalendulaOil_ounces %}<tr><td>{{ page.CalendulaOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Calendula Oil</td></tr>{% endif %}
    {% if page.CamelinaOil_ounces %}<tr><td>{{ page.CamelinaOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Camelina Oil</td></tr>{% endif %}
    {% if page.CamelliaOil_ounces %}<tr><td>{{ page.CamelliaOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Camellia Oil</td></tr>{% endif %}
    {% if page.CandelillaWax_ounces %}<tr><td>{{ page.CandelillaWax_ounces }} ounces</td><td align="right">Calculating...</td><td>Candelilla Wax</td></tr>{% endif %}
    {% if page.CanolaOil_ounces %}<tr><td>{{ page.CanolaOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Canola Oil</td></tr>{% endif %}
    {% if page.CarnaubaWax_ounces %}<tr><td>{{ page.CarnaubaWax_ounces }} ounces</td><td align="right">Calculating...</td><td>Carnauba Wax</td></tr>{% endif %}
    {% if page.CarrotOil_ounces %}<tr><td>{{ page.CarrotOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Carrot Oil</td></tr>{% endif %}
    {% if page.CastorOil_ounces %}<tr><td>{{ page.CastorOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Castor Oil</td></tr>{% endif %}
    {% if page.CherryOil_ounces %}<tr><td>{{ page.CherryOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Cherry Oil</td></tr>{% endif %}
    {% if page.CocoaButter_ounces %}<tr><td>{{ page.CocoaButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Cocoa Butter</td></tr>{% endif %}
    {% if page.CoconutOil_ounces %}<tr><td>{{ page.CoconutOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Coconut Oil</td></tr>{% endif %}
    {% if page.CoconutOilFractions_ounces %}<tr><td>{{ page.CoconutOilFractions_ounces }} ounces</td><td align="right">Calculating...</td><td>Coconut Oil Fractions</td></tr>{% endif %}
    {% if page.VirginCoconutOil_ounces %}<tr><td>{{ page.VirginCoconutOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Virgin Coconut Oil</td></tr>{% endif %}
    {% if page.CoffeeButter_ounces %}<tr><td>{{ page.CoffeeButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Coffee Butter</td></tr>{% endif %}
    {% if page.CoffeeOil_ounces %}<tr><td>{{ page.CoffeeOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Coffee Oil</td></tr>{% endif %}
    {% if page.CornOil_ounces %}<tr><td>{{ page.CornOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Corn Oil</td></tr>{% endif %}
    {% if page.CottonseedOil_ounces %}<tr><td>{{ page.CottonseedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Cottonseed Oil</td></tr>{% endif %}
    {% if page.CranberrySeedOil_ounces %}<tr><td>{{ page.CranberrySeedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Cranberry Seed Oil</td></tr>{% endif %}
    {% if page.CupuacuButter_ounces %}<tr><td>{{ page.CupuacuButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Cupuacu Butter</td></tr>{% endif %}
    {% if page.EveningPrimroseOil_ounces %}<tr><td>{{ page.EveningPrimroseOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Evening Primrose Oil</td></tr>{% endif %}
    {% if page.FlaxSeedOil_ounces %}<tr><td>{{ page.FlaxSeedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Flax Seed Oil</td></tr>{% endif %}
    {% if page.GrapeseedOil_ounces %}<tr><td>{{ page.GrapeseedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Grapeseed Oil</td></tr>{% endif %}
    {% if page.GreenTeaButter_ounces %}<tr><td>{{ page.GreenTeaButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Green Tea Butter</td></tr>{% endif %}
    {% if page.HazelnutOil_ounces %}<tr><td>{{ page.HazelnutOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Hazelnut Oil</td></tr>{% endif %}
    {% if page.HempButter_ounces %}<tr><td>{{ page.HempButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Hemp Butter</td></tr>{% endif %}
    {% if page.HempOil_ounces %}<tr><td>{{ page.HempOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Hemp Oil</td></tr>{% endif %}
    {% if page.IllipeButter_ounces %}<tr><td>{{ page.IllipeButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Illipe Butter</td></tr>{% endif %}
    {% if page.JojobaOil_ounces %}<tr><td>{{ page.JojobaOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Jojoba Oil</td></tr>{% endif %}
    {% if page.KokumButter_ounces %}<tr><td>{{ page.KokumButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Kokum Butter</td></tr>{% endif %}
    {% if page.KukuiOil_ounces %}<tr><td>{{ page.KukuiOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Kukui Oil</td></tr>{% endif %}
    {% if page.MacadamiaButter_ounces %}<tr><td>{{ page.MacadamiaButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Macadamia Butter</td></tr>{% endif %}
    {% if page.MacadamiaNutOil_ounces %}<tr><td>{{ page.MacadamiaNutOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Macadamia Nut Oil</td></tr>{% endif %}
    {% if page.MangoButter_ounces %}<tr><td>{{ page.MangoButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Mango Butter</td></tr>{% endif %}
    {% if page.MangoOil_ounces %}<tr><td>{{ page.MangoOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Mango Oil</td></tr>{% endif %}
    {% if page.MeadowfoamOil_ounces %}<tr><td>{{ page.MeadowfoamOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Meadowfoam Oil</td></tr>{% endif %}
    {% if page.MowrahButter_ounces %}<tr><td>{{ page.MowrahButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Mowrah Butter</td></tr>{% endif %}
    {% if page.NeemOil_ounces %}<tr><td>{{ page.NeemOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Neem Oil</td></tr>{% endif %}
    {% if page.OatOil_ounces %}<tr><td>{{ page.OatOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Oat Oil</td></tr>{% endif %}
    {% if page.OliveButter_ounces %}<tr><td>{{ page.OliveButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Olive Butter</td></tr>{% endif %}
    {% if page.OliveOil_ounces %}<tr><td>{{ page.OliveOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Olive Oil</td></tr>{% endif %}
    {% if page.OrangeButter_ounces %}<tr><td>{{ page.OrangeButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Orange Butter</td></tr>{% endif %}
    {% if page.PalmKernelOil_ounces %}<tr><td>{{ page.PalmKernelOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Palm Kernel Oil</td></tr>{% endif %}
    {% if page.PalmOil_ounces %}<tr><td>{{ page.PalmOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Palm Oil</td></tr>{% endif %}
    {% if page.PassionFruitSeedOil_ounces %}<tr><td>{{ page.PassionFruitSeedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Passion Fruit Seed Oil</td></tr>{% endif %}
    {% if page.PeachKernelOil_ounces %}<tr><td>{{ page.PeachKernelOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Peach Kernel Oil</td></tr>{% endif %}
    {% if page.PeanutOil_ounces %}<tr><td>{{ page.PeanutOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Peanut Oil</td></tr>{% endif %}
    {% if page.PecanOil_ounces %}<tr><td>{{ page.PecanOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Pecan Oil</td></tr>{% endif %}
    {% if page.PistachioNutOil_ounces %}<tr><td>{{ page.PistachioNutOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Pistachio Nut Oil</td></tr>{% endif %}
    {% if page.PoppySeedOil_ounces %}<tr><td>{{ page.PoppySeedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Poppy Seed Oil</td></tr>{% endif %}
    {% if page.PumpkinSeedOil_ounces %}<tr><td>{{ page.PumpkinSeedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Pumpkin Seed Oil</td></tr>{% endif %}
    {% if page.RedRaspberrySeedOil_ounces %}<tr><td>{{ page.RedRaspberrySeedOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Red Raspberry Seed Oil</td></tr>{% endif %}
    {% if page.RiceBranOil_ounces %}<tr><td>{{ page.RiceBranOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Rice Bran Oil</td></tr>{% endif %}
    {% if page.RoseHipOil_ounces %}<tr><td>{{ page.RoseHipOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Rose Hip Oil</td></tr>{% endif %}
    {% if page.SafflowerOil_ounces %}<tr><td>{{ page.SafflowerOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Safflower Oil</td></tr>{% endif %}
    {% if page.SalButter_ounces %}<tr><td>{{ page.SalButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Sal Butter</td></tr>{% endif %}
    {% if page.SeabuckthornFruitOil_ounces %}<tr><td>{{ page.SeabuckthornFruitOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Seabuckthorn Fruit Oil</td></tr>{% endif %}
    {% if page.SesameOil_ounces %}<tr><td>{{ page.SesameOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Sesame Oil</td></tr>{% endif %}
    {% if page.SheaButter_ounces %}<tr><td>{{ page.SheaButter_ounces }} ounces</td><td align="right">Calculating...</td><td>Shea Butter</td></tr>{% endif %}
    {% if page.SheaOil_ounces %}<tr><td>{{ page.SheaOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Shea Oil</td></tr>{% endif %}
    {% if page.SoybeanOil_ounces %}<tr><td>{{ page.SoybeanOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Soybean Oil</td></tr>{% endif %}
    {% if page.SoyWax_ounces %}<tr><td>{{ page.SoyWax_ounces }} ounces</td><td align="right">Calculating...</td><td>Soy Wax</td></tr>{% endif %}
    {% if page.StearicAcid_ounces %}<tr><td>{{ page.StearicAcid_ounces }} ounces</td><td align="right">Calculating...</td><td>Stearic Acid</td></tr>{% endif %}
    {% if page.SunflowerOil_ounces %}<tr><td>{{ page.SunflowerOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Sunflower Oil</td></tr>{% endif %}
    {% if page.TamanuOil_ounces %}<tr><td>{{ page.TamanuOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Tamanu Oil</td></tr>{% endif %}
    {% if page.WalnutOil_ounces %}<tr><td>{{ page.WalnutOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Walnut Oil</td></tr>{% endif %}
    {% if page.WheatGermOil_ounces %}<tr><td>{{ page.WheatGermOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Wheat Germ Oil</td></tr>{% endif %}
    {% if page.Beeswax_ounces %}<tr><td>{{ page.Beeswax_ounces }} ounces</td><td align="right">Calculating...</td><td>Beeswax</td></tr>{% endif %}
    {% if page.Butterfat_ounces %}<tr><td>{{ page.Butterfat_ounces }} ounces</td><td align="right">Calculating...</td><td>Butterfat</td></tr>{% endif %}
    {% if page.EmuOil_ounces %}<tr><td>{{ page.EmuOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Emu Oil</td></tr>{% endif %}
    {% if page.GoatFat_ounces %}<tr><td>{{ page.GoatFat_ounces }} ounces</td><td align="right">Calculating...</td><td>Goat Fat</td></tr>{% endif %}
    {% if page.Lanolin_ounces %}<tr><td>{{ page.Lanolin_ounces }} ounces</td><td align="right">Calculating...</td><td>Lanolin</td></tr>{% endif %}
    {% if page.Lard_ounces %}<tr><td>{{ page.Lard_ounces }} ounces</td><td align="right">Calculating...</td><td>Lard</td></tr>{% endif %}
    {% if page.MinkOil_ounces %}<tr><td>{{ page.MinkOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Mink Oil</td></tr>{% endif %}
    {% if page.Mutton_ounces %}<tr><td>{{ page.Mutton_ounces }} ounces</td><td align="right">Calculating...</td><td>Mutton</td></tr>{% endif %}
    {% if page.NeatsFootOil_ounces %}<tr><td>{{ page.NeatsFootOil_ounces }} ounces</td><td align="right">Calculating...</td><td>Neats Foot Oil</td></tr>{% endif %}
    {% if page.Tallow_ounces %}<tr><td>{{ page.Tallow_ounces }} ounces</td><td align="right">Calculating...</td><td>Tallow</td></tr>{% endif %}

    {% if page.AcaiButter_grams %}<tr><td>{{ page.AcaiButter_grams }} grams</td><td align="right">Calculating...</td><td>Acai Butter</td></tr>{% endif %}
    {% if page.SweetAlmondButter_grams %}<tr><td>{{ page.SweetAlmondButter_grams }} grams</td><td align="right">Calculating...</td><td>Sweet Almond Butter</td></tr>{% endif %}
    {% if page.SweetAlmondOil_grams %}<tr><td>{{ page.SweetAlmondOil_grams }} grams</td><td align="right">Calculating...</td><td>Sweet Almond Oil</td></tr>{% endif %}
    {% if page.AloeExtract_grams %}<tr><td>{{ page.AloeExtract_grams }} grams</td><td align="right">Calculating...</td><td>Aloe Extract</td></tr>{% endif %}
    {% if page.AloeVeraButter_grams %}<tr><td>{{ page.AloeVeraButter_grams }} grams</td><td align="right">Calculating...</td><td>Aloe Vera Butter</td></tr>{% endif %}
    {% if page.ApricotKernelOil_grams %}<tr><td>{{ page.ApricotKernelOil_grams }} grams</td><td align="right">Calculating...</td><td>Apricot Kernel Oil</td></tr>{% endif %}
    {% if page.ArganOil_grams %}<tr><td>{{ page.ArganOil_grams }} grams</td><td align="right">Calculating...</td><td>Argan Oil</td></tr>{% endif %}
    {% if page.AvocadoButter_grams %}<tr><td>{{ page.AvocadoButter_grams }} grams</td><td align="right">Calculating...</td><td>Avocado Butter</td></tr>{% endif %}
    {% if page.AvocadoOil_grams %}<tr><td>{{ page.AvocadoOil_grams }} grams</td><td align="right">Calculating...</td><td>Avocado Oil</td></tr>{% endif %}
    {% if page.BabassuOil_grams %}<tr><td>{{ page.BabassuOil_grams }} grams</td><td align="right">Calculating...</td><td>Babassu Oil</td></tr>{% endif %}
    {% if page.BlackCuminOil_grams %}<tr><td>{{ page.BlackCuminOil_grams }} grams</td><td align="right">Calculating...</td><td>Black Cumin Oil</td></tr>{% endif %}
    {% if page.BlackCurrantOil_grams %}<tr><td>{{ page.BlackCurrantOil_grams }} grams</td><td align="right">Calculating...</td><td>Black Currant Oil</td></tr>{% endif %}
    {% if page.BlackSeedOil_grams %}<tr><td>{{ page.BlackSeedOil_grams }} grams</td><td align="right">Calculating...</td><td>Black Seed Oil</td></tr>{% endif %}
    {% if page.BlueberryButter_grams %}<tr><td>{{ page.BlueberryButter_grams }} grams</td><td align="right">Calculating...</td><td>Blueberry Butter</td></tr>{% endif %}
    {% if page.BorageOil_grams %}<tr><td>{{ page.BorageOil_grams }} grams</td><td align="right">Calculating...</td><td>Borage Oil</td></tr>{% endif %}
    {% if page.CalendulaOil_grams %}<tr><td>{{ page.CalendulaOil_grams }} grams</td><td align="right">Calculating...</td><td>Calendula Oil</td></tr>{% endif %}
    {% if page.CamelinaOil_grams %}<tr><td>{{ page.CamelinaOil_grams }} grams</td><td align="right">Calculating...</td><td>Camelina Oil</td></tr>{% endif %}
    {% if page.CamelliaOil_grams %}<tr><td>{{ page.CamelliaOil_grams }} grams</td><td align="right">Calculating...</td><td>Camellia Oil</td></tr>{% endif %}
    {% if page.CandelillaWax_grams %}<tr><td>{{ page.CandelillaWax_grams }} grams</td><td align="right">Calculating...</td><td>Candelilla Wax</td></tr>{% endif %}
    {% if page.CanolaOil_grams %}<tr><td>{{ page.CanolaOil_grams }} grams</td><td align="right">Calculating...</td><td>Canola Oil</td></tr>{% endif %}
    {% if page.CarnaubaWax_grams %}<tr><td>{{ page.CarnaubaWax_grams }} grams</td><td align="right">Calculating...</td><td>Carnauba Wax</td></tr>{% endif %}
    {% if page.CarrotOil_grams %}<tr><td>{{ page.CarrotOil_grams }} grams</td><td align="right">Calculating...</td><td>Carrot Oil</td></tr>{% endif %}
    {% if page.CastorOil_grams %}<tr><td>{{ page.CastorOil_grams }} grams</td><td align="right">Calculating...</td><td>Castor Oil</td></tr>{% endif %}
    {% if page.CherryOil_grams %}<tr><td>{{ page.CherryOil_grams }} grams</td><td align="right">Calculating...</td><td>Cherry Oil</td></tr>{% endif %}
    {% if page.CocoaButter_grams %}<tr><td>{{ page.CocoaButter_grams }} grams</td><td align="right">Calculating...</td><td>Cocoa Butter</td></tr>{% endif %}
    {% if page.CoconutOil_grams %}<tr><td>{{ page.CoconutOil_grams }} grams</td><td align="right">Calculating...</td><td>Coconut Oil</td></tr>{% endif %}
    {% if page.CoconutOilFractions_grams %}<tr><td>{{ page.CoconutOilFractions_grams }} grams</td><td align="right">Calculating...</td><td>Coconut Oil Fractions</td></tr>{% endif %}
    {% if page.VirginCoconutOil_grams %}<tr><td>{{ page.VirginCoconutOil_grams }} grams</td><td align="right">Calculating...</td><td>Virgin Coconut Oil</td></tr>{% endif %}
    {% if page.CoffeeButter_grams %}<tr><td>{{ page.CoffeeButter_grams }} grams</td><td align="right">Calculating...</td><td>Coffee Butter</td></tr>{% endif %}
    {% if page.CoffeeOil_grams %}<tr><td>{{ page.CoffeeOil_grams }} grams</td><td align="right">Calculating...</td><td>Coffee Oil</td></tr>{% endif %}
    {% if page.CornOil_grams %}<tr><td>{{ page.CornOil_grams }} grams</td><td align="right">Calculating...</td><td>Corn Oil</td></tr>{% endif %}
    {% if page.CottonseedOil_grams %}<tr><td>{{ page.CottonseedOil_grams }} grams</td><td align="right">Calculating...</td><td>Cottonseed Oil</td></tr>{% endif %}
    {% if page.CranberrySeedOil_grams %}<tr><td>{{ page.CranberrySeedOil_grams }} grams</td><td align="right">Calculating...</td><td>Cranberry Seed Oil</td></tr>{% endif %}
    {% if page.CupuacuButter_grams %}<tr><td>{{ page.CupuacuButter_grams }} grams</td><td align="right">Calculating...</td><td>Cupuacu Butter</td></tr>{% endif %}
    {% if page.EveningPrimroseOil_grams %}<tr><td>{{ page.EveningPrimroseOil_grams }} grams</td><td align="right">Calculating...</td><td>Evening Primrose Oil</td></tr>{% endif %}
    {% if page.FlaxSeedOil_grams %}<tr><td>{{ page.FlaxSeedOil_grams }} grams</td><td align="right">Calculating...</td><td>Flax Seed Oil</td></tr>{% endif %}
    {% if page.GrapeseedOil_grams %}<tr><td>{{ page.GrapeseedOil_grams }} grams</td><td align="right">Calculating...</td><td>Grapeseed Oil</td></tr>{% endif %}
    {% if page.GreenTeaButter_grams %}<tr><td>{{ page.GreenTeaButter_grams }} grams</td><td align="right">Calculating...</td><td>Green Tea Butter</td></tr>{% endif %}
    {% if page.HazelnutOil_grams %}<tr><td>{{ page.HazelnutOil_grams }} grams</td><td align="right">Calculating...</td><td>Hazelnut Oil</td></tr>{% endif %}
    {% if page.HempButter_grams %}<tr><td>{{ page.HempButter_grams }} grams</td><td align="right">Calculating...</td><td>Hemp Butter</td></tr>{% endif %}
    {% if page.HempOil_grams %}<tr><td>{{ page.HempOil_grams }} grams</td><td align="right">Calculating...</td><td>Hemp Oil</td></tr>{% endif %}
    {% if page.IllipeButter_grams %}<tr><td>{{ page.IllipeButter_grams }} grams</td><td align="right">Calculating...</td><td>Illipe Butter</td></tr>{% endif %}
    {% if page.JojobaOil_grams %}<tr><td>{{ page.JojobaOil_grams }} grams</td><td align="right">Calculating...</td><td>Jojoba Oil</td></tr>{% endif %}
    {% if page.KokumButter_grams %}<tr><td>{{ page.KokumButter_grams }} grams</td><td align="right">Calculating...</td><td>Kokum Butter</td></tr>{% endif %}
    {% if page.KukuiOil_grams %}<tr><td>{{ page.KukuiOil_grams }} grams</td><td align="right">Calculating...</td><td>Kukui Oil</td></tr>{% endif %}
    {% if page.MacadamiaButter_grams %}<tr><td>{{ page.MacadamiaButter_grams }} grams</td><td align="right">Calculating...</td><td>Macadamia Butter</td></tr>{% endif %}
    {% if page.MacadamiaNutOil_grams %}<tr><td>{{ page.MacadamiaNutOil_grams }} grams</td><td align="right">Calculating...</td><td>Macadamia Nut Oil</td></tr>{% endif %}
    {% if page.MangoButter_grams %}<tr><td>{{ page.MangoButter_grams }} grams</td><td align="right">Calculating...</td><td>Mango Butter</td></tr>{% endif %}
    {% if page.MangoOil_grams %}<tr><td>{{ page.MangoOil_grams }} grams</td><td align="right">Calculating...</td><td>Mango Oil</td></tr>{% endif %}
    {% if page.MeadowfoamOil_grams %}<tr><td>{{ page.MeadowfoamOil_grams }} grams</td><td align="right">Calculating...</td><td>Meadowfoam Oil</td></tr>{% endif %}
    {% if page.MowrahButter_grams %}<tr><td>{{ page.MowrahButter_grams }} grams</td><td align="right">Calculating...</td><td>Mowrah Butter</td></tr>{% endif %}
    {% if page.NeemOil_grams %}<tr><td>{{ page.NeemOil_grams }} grams</td><td align="right">Calculating...</td><td>Neem Oil</td></tr>{% endif %}
    {% if page.OatOil_grams %}<tr><td>{{ page.OatOil_grams }} grams</td><td align="right">Calculating...</td><td>Oat Oil</td></tr>{% endif %}
    {% if page.OliveButter_grams %}<tr><td>{{ page.OliveButter_grams }} grams</td><td align="right">Calculating...</td><td>Olive Butter</td></tr>{% endif %}
    {% if page.OliveOil_grams %}<tr><td>{{ page.OliveOil_grams }} grams</td><td align="right">Calculating...</td><td>Olive Oil</td></tr>{% endif %}
    {% if page.OrangeButter_grams %}<tr><td>{{ page.OrangeButter_grams }} grams</td><td align="right">Calculating...</td><td>Orange Butter</td></tr>{% endif %}
    {% if page.PalmKernelOil_grams %}<tr><td>{{ page.PalmKernelOil_grams }} grams</td><td align="right">Calculating...</td><td>Palm Kernel Oil</td></tr>{% endif %}
    {% if page.PalmOil_grams %}<tr><td>{{ page.PalmOil_grams }} grams</td><td align="right">Calculating...</td><td>Palm Oil</td></tr>{% endif %}
    {% if page.PassionFruitSeedOil_grams %}<tr><td>{{ page.PassionFruitSeedOil_grams }} grams</td><td align="right">Calculating...</td><td>Passion Fruit Seed Oil</td></tr>{% endif %}
    {% if page.PeachKernelOil_grams %}<tr><td>{{ page.PeachKernelOil_grams }} grams</td><td align="right">Calculating...</td><td>Peach Kernel Oil</td></tr>{% endif %}
    {% if page.PeanutOil_grams %}<tr><td>{{ page.PeanutOil_grams }} grams</td><td align="right">Calculating...</td><td>Peanut Oil</td></tr>{% endif %}
    {% if page.PecanOil_grams %}<tr><td>{{ page.PecanOil_grams }} grams</td><td align="right">Calculating...</td><td>Pecan Oil</td></tr>{% endif %}
    {% if page.PistachioNutOil_grams %}<tr><td>{{ page.PistachioNutOil_grams }} grams</td><td align="right">Calculating...</td><td>Pistachio Nut Oil</td></tr>{% endif %}
    {% if page.PoppySeedOil_grams %}<tr><td>{{ page.PoppySeedOil_grams }} grams</td><td align="right">Calculating...</td><td>Poppy Seed Oil</td></tr>{% endif %}
    {% if page.PumpkinSeedOil_grams %}<tr><td>{{ page.PumpkinSeedOil_grams }} grams</td><td align="right">Calculating...</td><td>Pumpkin Seed Oil</td></tr>{% endif %}
    {% if page.RedRaspberrySeedOil_grams %}<tr><td>{{ page.RedRaspberrySeedOil_grams }} grams</td><td align="right">Calculating...</td><td>Red Raspberry Seed Oil</td></tr>{% endif %}
    {% if page.RiceBranOil_grams %}<tr><td>{{ page.RiceBranOil_grams }} grams</td><td align="right">Calculating...</td><td>Rice Bran Oil</td></tr>{% endif %}
    {% if page.RoseHipOil_grams %}<tr><td>{{ page.RoseHipOil_grams }} grams</td><td align="right">Calculating...</td><td>Rose Hip Oil</td></tr>{% endif %}
    {% if page.SafflowerOil_grams %}<tr><td>{{ page.SafflowerOil_grams }} grams</td><td align="right">Calculating...</td><td>Safflower Oil</td></tr>{% endif %}
    {% if page.SalButter_grams %}<tr><td>{{ page.SalButter_grams }} grams</td><td align="right">Calculating...</td><td>Sal Butter</td></tr>{% endif %}
    {% if page.SeabuckthornFruitOil_grams %}<tr><td>{{ page.SeabuckthornFruitOil_grams }} grams</td><td align="right">Calculating...</td><td>Seabuckthorn Fruit Oil</td></tr>{% endif %}
    {% if page.SesameOil_grams %}<tr><td>{{ page.SesameOil_grams }} grams</td><td align="right">Calculating...</td><td>Sesame Oil</td></tr>{% endif %}
    {% if page.SheaButter_grams %}<tr><td>{{ page.SheaButter_grams }} grams</td><td align="right">Calculating...</td><td>Shea Butter</td></tr>{% endif %}
    {% if page.SheaOil_grams %}<tr><td>{{ page.SheaOil_grams }} grams</td><td align="right">Calculating...</td><td>Shea Oil</td></tr>{% endif %}
    {% if page.SoybeanOil_grams %}<tr><td>{{ page.SoybeanOil_grams }} grams</td><td align="right">Calculating...</td><td>Soybean Oil</td></tr>{% endif %}
    {% if page.SoyWax_grams %}<tr><td>{{ page.SoyWax_grams }} grams</td><td align="right">Calculating...</td><td>Soy Wax</td></tr>{% endif %}
    {% if page.StearicAcid_grams %}<tr><td>{{ page.StearicAcid_grams }} grams</td><td align="right">Calculating...</td><td>Stearic Acid</td></tr>{% endif %}
    {% if page.SunflowerOil_grams %}<tr><td>{{ page.SunflowerOil_grams }} grams</td><td align="right">Calculating...</td><td>Sunflower Oil</td></tr>{% endif %}
    {% if page.TamanuOil_grams %}<tr><td>{{ page.TamanuOil_grams }} grams</td><td align="right">Calculating...</td><td>Tamanu Oil</td></tr>{% endif %}
    {% if page.WalnutOil_grams %}<tr><td>{{ page.WalnutOil_grams }} grams</td><td align="right">Calculating...</td><td>Walnut Oil</td></tr>{% endif %}
    {% if page.WheatGermOil_grams %}<tr><td>{{ page.WheatGermOil_grams }} grams</td><td align="right">Calculating...</td><td>Wheat Germ Oil</td></tr>{% endif %}
    {% if page.Beeswax_grams %}<tr><td>{{ page.Beeswax_grams }} grams</td><td align="right">Calculating...</td><td>Beeswax</td></tr>{% endif %}
    {% if page.Butterfat_grams %}<tr><td>{{ page.Butterfat_grams }} grams</td><td align="right">Calculating...</td><td>Butterfat</td></tr>{% endif %}
    {% if page.EmuOil_grams %}<tr><td>{{ page.EmuOil_grams }} grams</td><td align="right">Calculating...</td><td>Emu Oil</td></tr>{% endif %}
    {% if page.GoatFat_grams %}<tr><td>{{ page.GoatFat_grams }} grams</td><td align="right">Calculating...</td><td>Goat Fat</td></tr>{% endif %}
    {% if page.Lanolin_grams %}<tr><td>{{ page.Lanolin_grams }} grams</td><td align="right">Calculating...</td><td>Lanolin</td></tr>{% endif %}
    {% if page.Lard_grams %}<tr><td>{{ page.Lard_grams }} grams</td><td align="right">Calculating...</td><td>Lard</td></tr>{% endif %}
    {% if page.MinkOil_grams %}<tr><td>{{ page.MinkOil_grams }} grams</td><td align="right">Calculating...</td><td>Mink Oil</td></tr>{% endif %}
    {% if page.Mutton_grams %}<tr><td>{{ page.Mutton_grams }} grams</td><td align="right">Calculating...</td><td>Mutton</td></tr>{% endif %}
    {% if page.NeatsFootOil_grams %}<tr><td>{{ page.NeatsFootOil_grams }} grams</td><td align="right">Calculating...</td><td>Neats Foot Oil</td></tr>{% endif %}
    {% if page.Tallow_grams %}<tr><td>{{ page.Tallow_grams }} grams</td><td align="right">Calculating...</td><td>Tallow</td></tr>{% endif %}
    
    {% if page.SodiumHydroxide_NaOH_ounces %}<tr><td>{{ page.SodiumHydroxide_NaOH_ounces }} ounces</td><td align="right">Calculating...</td><td>Sodium Hydroxide (NaOH)</td></tr>{% endif %}
    {% if page.PotassiumHydroxide_KOH_ounces %}<tr><td>{{ page.PotassiumHydroxide_KOH_ounces }} ounces</td><td align="right">Calculating...</td><td>Potassium Hydroxide (KOH)</td></tr>{% endif %}
    {% if page.SodiumHydroxide_NaOH_grams %}<tr><td>{{ page.SodiumHydroxide_NaOH_grams }} grams</td><td align="right">Calculating...</td><td>Sodium Hydroxide (NaOH)</td></tr>{% endif %}
    {% if page.PotassiumHydroxide_KOH_grams %}<tr><td>{{ page.PotassiumHydroxide_KOH_grams }} grams</td><td align="right">Calculating...</td><td>Potassium Hydroxide (KOH)</td></tr>{% endif %}
    </table>
    
    {% if page.SpecialIngredients %}
    <h2>Special Ingredients</h2>
    {{ page.SpecialIngredients }}
    {% endif %}
    
    {{ content }}
  </div>

  <script>
    function computeYield(){
      var yield = 0.0;
      // iterate over each ingredient row, starting after the header
      $("#ingredients tr:gt(0)").each(function() {
        var row = $(this);
        row.find('td:nth-child(1)').each(function() {
           // quantities are stored in the first cell of each row
           var quantityText = this.innerHTML;
           if(quantityText.indexOf(" ounces") > -1){
              quantityText = quantityText.replace(" ounces", "");
              var quantityPounds = parseFloat(quantityText) * 0.0625;
              yield = yield + quantityPounds;
           } else if(quantityText.indexOf(" grams") > -1){
              quantityText = quantityText.replace(" grams", "");
              var quantityPounds = parseFloat(quantityText) * 0.00220462;
              yield = yield + quantityPounds;
           }
        });
      });
      $("#yield").html(yield.toFixed(2) + " pounds");
      return yield;
    }

    function computePercentages(yieldPounds){
      // iterate over each ingredient row, starting after the header
      $("#ingredients tr:gt(0)").each(function() {
        var row = $(this);
        row.find('td:nth-child(1)').each(function(index) {
           // quantities are stored in the first cell of each row
           var quantityText = this.innerHTML;
           if(quantityText.indexOf(" ounces") > -1){
              quantityText = quantityText.replace(" ounces", "");
              var quantityPounds = parseFloat(quantityText) * 0.0625;
              row.find('td:nth-child(2)').each(function() {
                $(this).html(((quantityPounds / yieldPounds) * 100).toFixed(2) + " %");
              });
           } else if(quantityText.indexOf(" grams") > -1){
              quantityText = quantityText.replace(" grams", "");
              var quantityPounds = parseFloat(quantityText) * 0.00220462;
              row.find('td:nth-child(2)').each(function() {
                $(this).html(((quantityPounds / yieldPounds) * 100).toFixed(2) + " %");
              });
           }
        });
      });
    }

    $(document).ready(function() {
      // compute the total yield in pounds
      var yield = computeYield();

      // compute the percentage of each ingredient in the recipie
      computePercentages(yield);
    });
  </script>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
