---
layout: default
---

<article class="batch">
  <h1>{{ page.title }}</h1>

  <div class="batch-details">
    <table>
        <tr><td>Batch Date</td><td>{{ page.date | date: "%B %e, %Y" }}</td></tr>
    </table>
  </div>

  <div class="entry">
    <h2>Oils</h2>
    {% if page.SweetAlmondButter_ounces %}<li>{{ page.SweetAlmondButter_ounces }} ounces Sweet Almond Butter</li>{% endif %}
    {% if page.SweetAlmondOil_ounces %}<li>{{ page.SweetAlmondOil_ounces }} ounces Sweet Almond Oil</li>{% endif %}
    {% if page.AloeExtract_ounces %}<li>{{ page.AloeExtract_ounces }} ounces Aloe Extract</li>{% endif %}
    {% if page.AloeVeraButter_ounces %}<li>{{ page.AloeVeraButter_ounces }} ounces Aloe Vera Butter</li>{% endif %}
    {% if page.ApricotKernelOil_ounces %}<li>{{ page.ApricotKernelOil_ounces }} ounces Apricot Kernel Oil</li>{% endif %}
    {% if page.ArganOil_ounces %}<li>{{ page.ArganOil_ounces }} ounces Argan Oil</li>{% endif %}
    {% if page.AvocadoButter_ounces %}<li>{{ page.AvocadoButter_ounces }} ounces Avocado Butter</li>{% endif %}
    {% if page.AvocadoOil_ounces %}<li>{{ page.AvocadoOil_ounces }} ounces Avocado Oil</li>{% endif %}
    {% if page.BabassuOil_ounces %}<li>{{ page.BabassuOil_ounces }} ounces Babassu Oil</li>{% endif %}
    {% if page.BlackCuminOil_ounces %}<li>{{ page.BlackCuminOil_ounces }} ounces Black Cumin Oil</li>{% endif %}
    {% if page.BlackCurrantOil_ounces %}<li>{{ page.BlackCurrantOil_ounces }} ounces Black Currant Oil</li>{% endif %}
    {% if page.BlackSeedOil_ounces %}<li>{{ page.BlackSeedOil_ounces }} ounces Black Seed Oil</li>{% endif %}
    {% if page.BlueberryButter_ounces %}<li>{{ page.BlueberryButter_ounces }} ounces Blueberry Butter</li>{% endif %}
    {% if page.BorageOil_ounces %}<li>{{ page.BorageOil_ounces }} ounces Borage Oil</li>{% endif %}
    {% if page.CalendulaOil_ounces %}<li>{{ page.CalendulaOil_ounces }} ounces Calendula Oil</li>{% endif %}
    {% if page.CamelinaOil_ounces %}<li>{{ page.CamelinaOil_ounces }} ounces Camelina Oil</li>{% endif %}
    {% if page.CamelliaOil_ounces %}<li>{{ page.CamelliaOil_ounces }} ounces Camellia Oil</li>{% endif %}
    {% if page.CandelillaWax_ounces %}<li>{{ page.CandelillaWax_ounces }} ounces Candelilla Wax</li>{% endif %}
    {% if page.CanolaOil_ounces %}<li>{{ page.CanolaOil_ounces }} ounces Canola Oil</li>{% endif %}
    {% if page.CarnaubaWax_ounces %}<li>{{ page.CarnaubaWax_ounces }} ounces Carnauba Wax</li>{% endif %}
    {% if page.CarrotOil_ounces %}<li>{{ page.CarrotOil_ounces }} ounces Carrot Oil</li>{% endif %}
    {% if page.CastorOil_ounces %}<li>{{ page.CastorOil_ounces }} ounces Castor Oil</li>{% endif %}
    {% if page.CherryOil_ounces %}<li>{{ page.CherryOil_ounces }} ounces Cherry Oil</li>{% endif %}
    {% if page.CocoaButter_ounces %}<li>{{ page.CocoaButter_ounces }} ounces Cocoa Butter</li>{% endif %}
    {% if page.CoconutOil_ounces %}<li>{{ page.CoconutOil_ounces }} ounces Coconut Oil</li>{% endif %}
    {% if page.CoconutOilFractions_ounces %}<li>{{ page.CoconutOilFractions_ounces }} ounces Coconut Oil Fractions</li>{% endif %}
    {% if page.VirginCoconutOil_ounces %}<li>{{ page.VirginCoconutOil_ounces }} ounces Virgin Coconut Oil</li>{% endif %}
    {% if page.CoffeeButter_ounces %}<li>{{ page.CoffeeButter_ounces }} ounces Coffee Butter</li>{% endif %}
    {% if page.CoffeeOil_ounces %}<li>{{ page.CoffeeOil_ounces }} ounces Coffee Oil</li>{% endif %}
    {% if page.CornOil_ounces %}<li>{{ page.CornOil_ounces }} ounces Corn Oil</li>{% endif %}
    {% if page.CottonseedOil_ounces %}<li>{{ page.CottonseedOil_ounces }} ounces Cottonseed Oil</li>{% endif %}
    {% if page.CranberrySeedOil_ounces %}<li>{{ page.CranberrySeedOil_ounces }} ounces Cranberry Seed Oil</li>{% endif %}
    {% if page.CupuacuButter_ounces %}<li>{{ page.CupuacuButter_ounces }} ounces Cupuacu Butter</li>{% endif %}
    {% if page.EveningPrimroseOil_ounces %}<li>{{ page.EveningPrimroseOil_ounces }} ounces Evening Primrose Oil</li>{% endif %}
    {% if page.FlaxSeedOil_ounces %}<li>{{ page.FlaxSeedOil_ounces }} ounces Flax Seed Oil</li>{% endif %}
    {% if page.GrapeseedOil_ounces %}<li>{{ page.GrapeseedOil_ounces }} ounces Grapeseed Oil</li>{% endif %}
    {% if page.GreenTeaButter_ounces %}<li>{{ page.GreenTeaButter_ounces }} ounces Green Tea Butter</li>{% endif %}
    {% if page.HazelnutOil_ounces %}<li>{{ page.HazelnutOil_ounces }} ounces Hazelnut Oil</li>{% endif %}
    {% if page.HempButter_ounces %}<li>{{ page.HempButter_ounces }} ounces Hemp Butter</li>{% endif %}
    {% if page.HempOil_ounces %}<li>{{ page.HempOil_ounces }} ounces Hemp Oil</li>{% endif %}
    {% if page.IllipeButter_ounces %}<li>{{ page.IllipeButter_ounces }} ounces Illipe Butter</li>{% endif %}
    {% if page.JojobaOil_ounces %}<li>{{ page.JojobaOil_ounces }} ounces Jojoba Oil</li>{% endif %}
    {% if page.KokumButter_ounces %}<li>{{ page.KokumButter_ounces }} ounces Kokum Butter</li>{% endif %}
    {% if page.KukuiOil_ounces %}<li>{{ page.KukuiOil_ounces }} ounces Kukui Oil</li>{% endif %}
    {% if page.MacadamiaButter_ounces %}<li>{{ page.MacadamiaButter_ounces }} ounces Macadamia Butter</li>{% endif %}
    {% if page.MacadamiaNutOil_ounces %}<li>{{ page.MacadamiaNutOil_ounces }} ounces Macadamia Nut Oil</li>{% endif %}
    {% if page.MangoButter_ounces %}<li>{{ page.MangoButter_ounces }} ounces Mango Butter</li>{% endif %}
    {% if page.MangoOil_ounces %}<li>{{ page.MangoOil_ounces }} ounces Mango Oil</li>{% endif %}
    {% if page.MeadowfoamOil_ounces %}<li>{{ page.MeadowfoamOil_ounces }} ounces Meadowfoam Oil</li>{% endif %}
    {% if page.MowrahButter_ounces %}<li>{{ page.MowrahButter_ounces }} ounces Mowrah Butter</li>{% endif %}
    {% if page.NeemOil_ounces %}<li>{{ page.NeemOil_ounces }} ounces Neem Oil</li>{% endif %}
    {% if page.OatOil_ounces %}<li>{{ page.OatOil_ounces }} ounces Oat Oil</li>{% endif %}
    {% if page.OliveButter_ounces %}<li>{{ page.OliveButter_ounces }} ounces Olive Butter</li>{% endif %}
    {% if page.OliveOil_ounces %}<li>{{ page.OliveOil_ounces }} ounces Olive Oil</li>{% endif %}
    {% if page.OrangeButter_ounces %}<li>{{ page.OrangeButter_ounces }} ounces Orange Butter</li>{% endif %}
    {% if page.PalmKernelOil_ounces %}<li>{{ page.PalmKernelOil_ounces }} ounces Palm Kernel Oil</li>{% endif %}
    {% if page.PalmOil_ounces %}<li>{{ page.PalmOil_ounces }} ounces Palm Oil</li>{% endif %}
    {% if page.PassionFruitSeedOil_ounces %}<li>{{ page.PassionFruitSeedOil_ounces }} ounces Passion Fruit Seed Oil</li>{% endif %}
    {% if page.PeachKernelOil_ounces %}<li>{{ page.PeachKernelOil_ounces }} ounces Peach Kernel Oil</li>{% endif %}
    {% if page.PeanutOil_ounces %}<li>{{ page.PeanutOil_ounces }} ounces Peanut Oil</li>{% endif %}
    {% if page.PecanOil_ounces %}<li>{{ page.PecanOil_ounces }} ounces Pecan Oil</li>{% endif %}
    {% if page.PistachioNutOil_ounces %}<li>{{ page.PistachioNutOil_ounces }} ounces Pistachio Nut Oil</li>{% endif %}
    {% if page.PoppySeedOil_ounces %}<li>{{ page.PoppySeedOil_ounces }} ounces Poppy Seed Oil</li>{% endif %}
    {% if page.PumpkinSeedOil_ounces %}<li>{{ page.PumpkinSeedOil_ounces }} ounces Pumpkin Seed Oil</li>{% endif %}
    {% if page.RedRaspberrySeedOil_ounces %}<li>{{ page.RedRaspberrySeedOil_ounces }} ounces Red Raspberry Seed Oil</li>{% endif %}
    {% if page.RiceBranOil_ounces %}<li>{{ page.RiceBranOil_ounces }} ounces Rice Bran Oil</li>{% endif %}
    {% if page.RoseHipOil_ounces %}<li>{{ page.RoseHipOil_ounces }} ounces Rose Hip Oil</li>{% endif %}
    {% if page.SafflowerOil_ounces %}<li>{{ page.SafflowerOil_ounces }} ounces Safflower Oil</li>{% endif %}
    {% if page.SalButter_ounces %}<li>{{ page.SalButter_ounces }} ounces Sal Butter</li>{% endif %}
    {% if page.SeabuckthornFruitOil_ounces %}<li>{{ page.SeabuckthornFruitOil_ounces }} ounces Seabuckthorn Fruit Oil</li>{% endif %}
    {% if page.SesameOil_ounces %}<li>{{ page.SesameOil_ounces }} ounces Sesame Oil</li>{% endif %}
    {% if page.SheaButter_ounces %}<li>{{ page.SheaButter_ounces }} ounces Shea Butter</li>{% endif %}
    {% if page.SheaOil_ounces %}<li>{{ page.SheaOil_ounces }} ounces Shea Oil</li>{% endif %}
    {% if page.SoybeanOil_ounces %}<li>{{ page.SoybeanOil_ounces }} ounces Soybean Oil</li>{% endif %}
    {% if page.SoyWax_ounces %}<li>{{ page.SoyWax_ounces }} ounces Soy Wax</li>{% endif %}
    {% if page.StearicAcid_ounces %}<li>{{ page.StearicAcid_ounces }} ounces Stearic Acid</li>{% endif %}
    {% if page.SunflowerOil_ounces %}<li>{{ page.SunflowerOil_ounces }} ounces Sunflower Oil</li>{% endif %}
    {% if page.TamanuOil_ounces %}<li>{{ page.TamanuOil_ounces }} ounces Tamanu Oil</li>{% endif %}
    {% if page.WalnutOil_ounces %}<li>{{ page.WalnutOil_ounces }} ounces Walnut Oil</li>{% endif %}
    {% if page.WheatGermOil_ounces %}<li>{{ page.WheatGermOil_ounces }} ounces Wheat Germ Oil</li>{% endif %}
    {% if page.Beeswax_ounces %}<li>{{ page.Beeswax_ounces }} ounces Beeswax</li>{% endif %}
    {% if page.Butterfat_ounces %}<li>{{ page.Butterfat_ounces }} ounces Butterfat</li>{% endif %}
    {% if page.EmuOil_ounces %}<li>{{ page.EmuOil_ounces }} ounces Emu Oil</li>{% endif %}
    {% if page.GoatFat_ounces %}<li>{{ page.GoatFat_ounces }} ounces Goat Fat</li>{% endif %}
    {% if page.Lanolin_ounces %}<li>{{ page.Lanolin_ounces }} ounces Lanolin</li>{% endif %}
    {% if page.Lard_ounces %}<li>{{ page.Lard_ounces }} ounces Lard</li>{% endif %}
    {% if page.MinkOil_ounces %}<li>{{ page.MinkOil_ounces }} ounces Mink Oil</li>{% endif %}
    {% if page.Mutton_ounces %}<li>{{ page.Mutton_ounces }} ounces Mutton</li>{% endif %}
    {% if page.NeatsFootOil_ounces %}<li>{{ page.NeatsFootOil_ounces }} ounces Neats Foot Oil</li>{% endif %}
    {% if page.Tallow_ounces %}<li>{{ page.Tallow_ounces }} ounces Tallow</li>{% endif %}

    {% if page.SweetAlmondButter_grams %}<li>{{ page.SweetAlmondButter_grams }} grams Sweet Almond Butter</li>{% endif %}
    {% if page.SweetAlmondOil_grams %}<li>{{ page.SweetAlmondOil_grams }} grams Sweet Almond Oil</li>{% endif %}
    {% if page.AloeExtract_grams %}<li>{{ page.AloeExtract_grams }} grams Aloe Extract</li>{% endif %}
    {% if page.AloeVeraButter_grams %}<li>{{ page.AloeVeraButter_grams }} grams Aloe Vera Butter</li>{% endif %}
    {% if page.ApricotKernelOil_grams %}<li>{{ page.ApricotKernelOil_grams }} grams Apricot Kernel Oil</li>{% endif %}
    {% if page.ArganOil_grams %}<li>{{ page.ArganOil_grams }} grams Argan Oil</li>{% endif %}
    {% if page.AvocadoButter_grams %}<li>{{ page.AvocadoButter_grams }} grams Avocado Butter</li>{% endif %}
    {% if page.AvocadoOil_grams %}<li>{{ page.AvocadoOil_grams }} grams Avocado Oil</li>{% endif %}
    {% if page.BabassuOil_grams %}<li>{{ page.BabassuOil_grams }} grams Babassu Oil</li>{% endif %}
    {% if page.BlackCuminOil_grams %}<li>{{ page.BlackCuminOil_grams }} grams Black Cumin Oil</li>{% endif %}
    {% if page.BlackCurrantOil_grams %}<li>{{ page.BlackCurrantOil_grams }} grams Black Currant Oil</li>{% endif %}
    {% if page.BlackSeedOil_grams %}<li>{{ page.BlackSeedOil_grams }} grams Black Seed Oil</li>{% endif %}
    {% if page.BlueberryButter_grams %}<li>{{ page.BlueberryButter_grams }} grams Blueberry Butter</li>{% endif %}
    {% if page.BorageOil_grams %}<li>{{ page.BorageOil_grams }} grams Borage Oil</li>{% endif %}
    {% if page.CalendulaOil_grams %}<li>{{ page.CalendulaOil_grams }} grams Calendula Oil</li>{% endif %}
    {% if page.CamelinaOil_grams %}<li>{{ page.CamelinaOil_grams }} grams Camelina Oil</li>{% endif %}
    {% if page.CamelliaOil_grams %}<li>{{ page.CamelliaOil_grams }} grams Camellia Oil</li>{% endif %}
    {% if page.CandelillaWax_grams %}<li>{{ page.CandelillaWax_grams }} grams Candelilla Wax</li>{% endif %}
    {% if page.CanolaOil_grams %}<li>{{ page.CanolaOil_grams }} grams Canola Oil</li>{% endif %}
    {% if page.CarnaubaWax_grams %}<li>{{ page.CarnaubaWax_grams }} grams Carnauba Wax</li>{% endif %}
    {% if page.CarrotOil_grams %}<li>{{ page.CarrotOil_grams }} grams Carrot Oil</li>{% endif %}
    {% if page.CastorOil_grams %}<li>{{ page.CastorOil_grams }} grams Castor Oil</li>{% endif %}
    {% if page.CherryOil_grams %}<li>{{ page.CherryOil_grams }} grams Cherry Oil</li>{% endif %}
    {% if page.CocoaButter_grams %}<li>{{ page.CocoaButter_grams }} grams Cocoa Butter</li>{% endif %}
    {% if page.CoconutOil_grams %}<li>{{ page.CoconutOil_grams }} grams Coconut Oil</li>{% endif %}
    {% if page.CoconutOilFractions_grams %}<li>{{ page.CoconutOilFractions_grams }} grams Coconut Oil Fractions</li>{% endif %}
    {% if page.VirginCoconutOil_grams %}<li>{{ page.VirginCoconutOil_grams }} grams Virgin Coconut Oil</li>{% endif %}
    {% if page.CoffeeButter_grams %}<li>{{ page.CoffeeButter_grams }} grams Coffee Butter</li>{% endif %}
    {% if page.CoffeeOil_grams %}<li>{{ page.CoffeeOil_grams }} grams Coffee Oil</li>{% endif %}
    {% if page.CornOil_grams %}<li>{{ page.CornOil_grams }} grams Corn Oil</li>{% endif %}
    {% if page.CottonseedOil_grams %}<li>{{ page.CottonseedOil_grams }} grams Cottonseed Oil</li>{% endif %}
    {% if page.CranberrySeedOil_grams %}<li>{{ page.CranberrySeedOil_grams }} grams Cranberry Seed Oil</li>{% endif %}
    {% if page.CupuacuButter_grams %}<li>{{ page.CupuacuButter_grams }} grams Cupuacu Butter</li>{% endif %}
    {% if page.EveningPrimroseOil_grams %}<li>{{ page.EveningPrimroseOil_grams }} grams Evening Primrose Oil</li>{% endif %}
    {% if page.FlaxSeedOil_grams %}<li>{{ page.FlaxSeedOil_grams }} grams Flax Seed Oil</li>{% endif %}
    {% if page.GrapeseedOil_grams %}<li>{{ page.GrapeseedOil_grams }} grams Grapeseed Oil</li>{% endif %}
    {% if page.GreenTeaButter_grams %}<li>{{ page.GreenTeaButter_grams }} grams Green Tea Butter</li>{% endif %}
    {% if page.HazelnutOil_grams %}<li>{{ page.HazelnutOil_grams }} grams Hazelnut Oil</li>{% endif %}
    {% if page.HempButter_grams %}<li>{{ page.HempButter_grams }} grams Hemp Butter</li>{% endif %}
    {% if page.HempOil_grams %}<li>{{ page.HempOil_grams }} grams Hemp Oil</li>{% endif %}
    {% if page.IllipeButter_grams %}<li>{{ page.IllipeButter_grams }} grams Illipe Butter</li>{% endif %}
    {% if page.JojobaOil_grams %}<li>{{ page.JojobaOil_grams }} grams Jojoba Oil</li>{% endif %}
    {% if page.KokumButter_grams %}<li>{{ page.KokumButter_grams }} grams Kokum Butter</li>{% endif %}
    {% if page.KukuiOil_grams %}<li>{{ page.KukuiOil_grams }} grams Kukui Oil</li>{% endif %}
    {% if page.MacadamiaButter_grams %}<li>{{ page.MacadamiaButter_grams }} grams Macadamia Butter</li>{% endif %}
    {% if page.MacadamiaNutOil_grams %}<li>{{ page.MacadamiaNutOil_grams }} grams Macadamia Nut Oil</li>{% endif %}
    {% if page.MangoButter_grams %}<li>{{ page.MangoButter_grams }} grams Mango Butter</li>{% endif %}
    {% if page.MangoOil_grams %}<li>{{ page.MangoOil_grams }} grams Mango Oil</li>{% endif %}
    {% if page.MeadowfoamOil_grams %}<li>{{ page.MeadowfoamOil_grams }} grams Meadowfoam Oil</li>{% endif %}
    {% if page.MowrahButter_grams %}<li>{{ page.MowrahButter_grams }} grams Mowrah Butter</li>{% endif %}
    {% if page.NeemOil_grams %}<li>{{ page.NeemOil_grams }} grams Neem Oil</li>{% endif %}
    {% if page.OatOil_grams %}<li>{{ page.OatOil_grams }} grams Oat Oil</li>{% endif %}
    {% if page.OliveButter_grams %}<li>{{ page.OliveButter_grams }} grams Olive Butter</li>{% endif %}
    {% if page.OliveOil_grams %}<li>{{ page.OliveOil_grams }} grams Olive Oil</li>{% endif %}
    {% if page.OrangeButter_grams %}<li>{{ page.OrangeButter_grams }} grams Orange Butter</li>{% endif %}
    {% if page.PalmKernelOil_grams %}<li>{{ page.PalmKernelOil_grams }} grams Palm Kernel Oil</li>{% endif %}
    {% if page.PalmOil_grams %}<li>{{ page.PalmOil_grams }} grams Palm Oil</li>{% endif %}
    {% if page.PassionFruitSeedOil_grams %}<li>{{ page.PassionFruitSeedOil_grams }} grams Passion Fruit Seed Oil</li>{% endif %}
    {% if page.PeachKernelOil_grams %}<li>{{ page.PeachKernelOil_grams }} grams Peach Kernel Oil</li>{% endif %}
    {% if page.PeanutOil_grams %}<li>{{ page.PeanutOil_grams }} grams Peanut Oil</li>{% endif %}
    {% if page.PecanOil_grams %}<li>{{ page.PecanOil_grams }} grams Pecan Oil</li>{% endif %}
    {% if page.PistachioNutOil_grams %}<li>{{ page.PistachioNutOil_grams }} grams Pistachio Nut Oil</li>{% endif %}
    {% if page.PoppySeedOil_grams %}<li>{{ page.PoppySeedOil_grams }} grams Poppy Seed Oil</li>{% endif %}
    {% if page.PumpkinSeedOil_grams %}<li>{{ page.PumpkinSeedOil_grams }} grams Pumpkin Seed Oil</li>{% endif %}
    {% if page.RedRaspberrySeedOil_grams %}<li>{{ page.RedRaspberrySeedOil_grams }} grams Red Raspberry Seed Oil</li>{% endif %}
    {% if page.RiceBranOil_grams %}<li>{{ page.RiceBranOil_grams }} grams Rice Bran Oil</li>{% endif %}
    {% if page.RoseHipOil_grams %}<li>{{ page.RoseHipOil_grams }} grams Rose Hip Oil</li>{% endif %}
    {% if page.SafflowerOil_grams %}<li>{{ page.SafflowerOil_grams }} grams Safflower Oil</li>{% endif %}
    {% if page.SalButter_grams %}<li>{{ page.SalButter_grams }} grams Sal Butter</li>{% endif %}
    {% if page.SeabuckthornFruitOil_grams %}<li>{{ page.SeabuckthornFruitOil_grams }} grams Seabuckthorn Fruit Oil</li>{% endif %}
    {% if page.SesameOil_grams %}<li>{{ page.SesameOil_grams }} grams Sesame Oil</li>{% endif %}
    {% if page.SheaButter_grams %}<li>{{ page.SheaButter_grams }} grams Shea Butter</li>{% endif %}
    {% if page.SheaOil_grams %}<li>{{ page.SheaOil_grams }} grams Shea Oil</li>{% endif %}
    {% if page.SoybeanOil_grams %}<li>{{ page.SoybeanOil_grams }} grams Soybean Oil</li>{% endif %}
    {% if page.SoyWax_grams %}<li>{{ page.SoyWax_grams }} grams Soy Wax</li>{% endif %}
    {% if page.StearicAcid_grams %}<li>{{ page.StearicAcid_grams }} grams Stearic Acid</li>{% endif %}
    {% if page.SunflowerOil_grams %}<li>{{ page.SunflowerOil_grams }} grams Sunflower Oil</li>{% endif %}
    {% if page.TamanuOil_grams %}<li>{{ page.TamanuOil_grams }} grams Tamanu Oil</li>{% endif %}
    {% if page.WalnutOil_grams %}<li>{{ page.WalnutOil_grams }} grams Walnut Oil</li>{% endif %}
    {% if page.WheatGermOil_grams %}<li>{{ page.WheatGermOil_grams }} grams Wheat Germ Oil</li>{% endif %}
    {% if page.Beeswax_grams %}<li>{{ page.Beeswax_grams }} grams Beeswax</li>{% endif %}
    {% if page.Butterfat_grams %}<li>{{ page.Butterfat_grams }} grams Butterfat</li>{% endif %}
    {% if page.EmuOil_grams %}<li>{{ page.EmuOil_grams }} grams Emu Oil</li>{% endif %}
    {% if page.GoatFat_grams %}<li>{{ page.GoatFat_grams }} grams Goat Fat</li>{% endif %}
    {% if page.Lanolin_grams %}<li>{{ page.Lanolin_grams }} grams Lanolin</li>{% endif %}
    {% if page.Lard_grams %}<li>{{ page.Lard_grams }} grams Lard</li>{% endif %}
    {% if page.MinkOil_grams %}<li>{{ page.MinkOil_grams }} grams Mink Oil</li>{% endif %}
    {% if page.Mutton_grams %}<li>{{ page.Mutton_grams }} grams Mutton</li>{% endif %}
    {% if page.NeatsFootOil_grams %}<li>{{ page.NeatsFootOil_grams }} grams Neats Foot Oil</li>{% endif %}
    {% if page.Tallow_grams %}<li>{{ page.Tallow_grams }} grams Tallow</li>{% endif %}

    <h2>Lye</h2>
    {% if page.SodiumHydroxide_NaOH_ounces %}<li>{{ page.SodiumHydroxide_NaOH_ounces }} ounces Sodium Hydroxide (NaOH)</li>{% endif %}
    {% if page.PotassiumHydroxide_KOH_ounces %}<li>{{ page.PotassiumHydroxide_KOH_ounces }} ounces Potassium Hydroxide (KOH)</li>{% endif %}
    {% if page.SodiumHydroxide_NaOH_grams %}<li>{{ page.SodiumHydroxide_NaOH_grams }} grams Sodium Hydroxide (NaOH)</li>{% endif %}
    {% if page.PotassiumHydroxide_KOH_grams %}<li>{{ page.PotassiumHydroxide_KOH_grams }} grams Potassium Hydroxide (KOH)</li>{% endif %}
    
    {{ content }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
